$color: #35b8be;
$color_p: #546285;
$bColor: #35b8be;
$margin: 0 7.5%;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin font_text($size, $color) {
    font-size: $size;
    color: $color;
}
@mixin position($display, $justify, $items) {
    display: $display;
    justify-content: $justify;
    align-items: $items;
}
@mixin grid($cols, $margin) {
    float: left;
    height: 440px;
    margin-left: $margin;
    margin-top: $margin;
    width: ((100% - (($cols - 1) * $margin)) / $cols);

    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

body {
    margin: 0 auto;
    a {
        text-decoration: none;
    }
    width: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    button {
        cursor: pointer;
    }
}

.order_now {
    height: 48px;
    color: #ffffffcc;
    background-color: $bColor;
    @include position(flex, center, center);
    :not(p):hover {
        color: chartreuse;
    }
    a {
        color: #ffffffcc;
    }
}

.nav_panel {
    margin: $margin;
    height: 100px;
    @include position(flex, space-between, center);
    :hover {
        color: $color;
    }
    a {
        color: #28224b;
        padding-right: 30px;
        transition: color 0.2s linear;
    }
    button {
        background-color: $bColor;
        @include size(55px, 55px);
        border-radius: 4px;
    }
}
.background {
    background-image: url(../image/bc_image.svg);
    height: 820px;
}
#reviews_block {
    margin: $margin;
    display: flex;
    img {
        margin-top: 100px;
        @include size(600px, 580px);
    }
    button {
        @include size(193px, 60px);
        border-radius: 6px;
        background-color: $bColor;
        color: #ffffff;
    }
    .star_logo {
        margin: 0px;
        @include size(26px, 25px);
    }
    .h1_like {
        margin: 150px 0 10px 0;
        font-size: 60px;
        span {
            color: $color;
        }
    }
    .placeH {
        font-size: 18px;
        color: $color_p;
    }
    .grade {
        @include size(500px, 57px);
    }
    h4 {
        font-size: x-large;
        margin: 30px 0 0 0;
    }
    span {
        color: $color;
    }
}
.background_2 {
    background-image: url(../image/aboutContent.svg);
}
.aboutus_block {
    height: 894px;
    @include position(flex, center, center);
    margin: $margin;
    img {
        @include size(527px, 567px);
    }
    p {
        font-size: 18px;
        color: $color_p;
    }
    button {
        margin-top: 40px;
        color: #ffff;
        background-color: $bColor;
        border-radius: 6px;
        @include size(194px, 60px);
    }
}
.h1 {
    @include font_text(50px, $color);
}

.hoWork_block {
    height: 575.25px;
    margin: 10.6%;
    h1 {
        text-align: center;
    }
}
#grid {
    float: left;
    width: 100%;
    div {
        text-align: center;
        @include grid(3, 10%);
        margin: 0 10% 0 0;
    }
    p {
        text-align: center;
        color: $color_p;
    }
}
.background_3 {
    width: 100%;
    background-color: #f5fbfc;
    padding-top: 5%;
    min-height: 1000px;
}
.menu_block {
    margin: $margin;
    height: 100%;
    .btn_container {
        text-align: center;
        margin-bottom: 2%;
    }
    .btn_full {
        @include size(186px, 60px);
        border-radius: 6px;
        margin-top: 10%;
        background-color: $bColor;
        color: #ffff;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.btn_menu {
    @include size(147px, 52px);
    border-radius: 6px;
    background-color: #f5fbfc;
    transition: background-color 0.4s linear;
    &:hover {
        color: #ffff;
        background-color: $bColor;
    }
}
.sid {
    margin: 0 2.6%;
}
.h6_like {
    span {
        color: $color;
    }
}
.card_container {
    float: left;
    width: 100%;
}
.card_item {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 2.6%;
    display: flex;
    @include grid(2, 2%);
    @include size(580px, 200px);
    .btn_add {
        background-color: $bColor;
        font-weight: bold;
        font-size: 16px;
        border-radius: 6px;
        border: none;
        margin-left: 5px;
        @include size(115px, 45px);
    }
    .int_item {
        font-size: 16px;
        text-align: center;
        border: 1px solid #dddddd;
        border-radius: 6px;
        @include size(60px, 43px);
    }
    img {
        height: 120px;
        width: 120px;
        margin-right: 30px;
    }
    .desc_menu {
        margin: 12px 0 10px 0;
        color: $color_p;
    }
}
.mn_price {
    @include position(flex, space-between, none);
    .price {
        color: $color;
    }
}

#check_block {
    margin: $margin;
    display: flex;
    p {
        color: $color_p;
    }
    button {
        border-radius: 6px;
        margin-top: 5%;
        @include size(172px, 60px);
        background-color: $bColor;
        color: #ffff;
    }
}
.background_4 {
    background-image: url(../image/aboutContent.svg);
    height: 850px;
}
.call_block {
    margin: $margin;
    height: 100%;
    display: flex;
    align-items: center;
    p {
        color: $color_p;
    }
    button {
        border-radius: 6px;
        margin-top: 5%;
        @include size(225px, 60px);
        background-color: $bColor;
        color: #ffff;
    }
}
.support_block {
    padding: 2.8%;
    @include position(flex, space-between, none);
    span {
        color: #1b9097;
    }
    h3 {
        font-size: 53px;
    }
    button {
        background-color: #ffff;
        color: $color;
        border-radius: 4px;
        @include size(162px, 60px);
    }
    .bc {
        display: inline-flex;
        align-items: center;
        padding-left: 4%;
        background-image: url(../image/support.svg);
        @include size(666px, 640px);
    }
}

footer {
    height: 593px;
    width: 100%;
    padding: 8.1% 10% 5.1% 10%;
    background-image: url(../image/bc_footer.png);

    .div {
        display: flex;
        @include position(flex, space-between, none);
    }
    h3 {
        font-size: 16px;
        margin: 0;
    }

    .fotr_a {
        display: grid;
        line-height: 45px;
    }
    .fotr_a_container {
        width: 50%;
        height: 50%;
        @include position(flex, space-between, none);
    }
    .fotr_flow {
        height: 40%;
    }
    .dno {
        @include position(flex, space-between, none);
        align-items: flex-end;
        height: 50%;
        span {
            color: $color;
        }
    }
    .btn_circle {
        @include size(40px, 40px);
        border-radius: 50%;
        border: 1px solid #7e828f4d;
        @include position(flex, center, center);
    }
    .circle_container {
        width: 192px;
        display: flex;
        justify-content: space-between;
    }
}
.span {
    color: $color_p;
    transition: color 0.5s;
    &:hover {
        color: $color;
    }
}
